.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.container-fluid{
    height: 100vh;
    overflow:hidden;
}

.chat-box {
    height:100%;
    overflow:hidden;
}
.side-nav {
    height:100%;
    background: whitesmoke;
}

#enter-message {
    left:0;
    position:absolute;
    bottom:0;
    width:100%;
    overflow:visible;
}

#enter-message input {
    display:inline-block;
    width:90%;
}

#enter-message button {
    display:inline-block;
    width:10%;
}