.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.container-fluid {
  height: 100vh;
}

.chat-box {
  height: 100%;
  overflow: hidden;
}
.side-nav {
  height: 100%;
  background: whitesmoke;
}

#chatMessageForm {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: visible;
}

#chatMessageForm input {
  display: inline-block;
  width: 87%;
}

#chatMessageForm button {
  display: inline-block;
  width: 13%;
}

.list-group li button {
  height: 5vh;
  width: 100%;
}

#messageList {
  font-size: 150%;
  height: 100%;
  margin: 0;
  padding: 10px 20px 10px 20px;
}

#chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.group-section {
  height: 100%;
}

.chat-groups {
  overflow: hidden;
  height: 50%;
  padding: 0;
  margin: 0;
}

.list-group {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}

.list-group-item-badge {
  top: 0;
  left: 0;
}

.list-group-item-btn {
  vertical-align: middle;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.create-button {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.message {
  width: 100%;
}
